<div class="sticky-top">
	<header class="navbar navbar-expand-md navbar-light sticky-top d-print-none">
		<div class="container-xl">
			<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbar-menu"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<h1
				class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3"
			>
				<a href=".">
					<img
						src="/img/GCTU_LOGO.png"
						width="35"
						height="35"
						alt="Tabler"
						class="navbar-brand-image"
					/> </a
				>&nbsp;GCTU SRC NOTICE BOARD 
			</h1>
		</div>
	</header>
</div>
