<!DOCTYPE html>
<!--
* Tabler - Premium and Open Source dashboard template with responsive and high quality UI.
* @version 1.0.0-alpha.24
* @link https://tabler.io
* Copyright 2018-2021 The Tabler Authors
* Copyright 2018-2021 codecalm.net Paweł Kuna
* Licensed under MIT (https://github.com/tabler/tabler/blob/master/LICENSE)
-->
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, viewport-fit=cover"
		/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>GHANA COMMUNICATION TECHNOLOGY UNIVERSITY</title>
		<link
			rel="shortcut icon"
			href="/dist/img/locals/favicon.ico"
			type="image/x-icon"
		/>
		<!-- CSS files -->
		<link href="/dist/css/tabler.min.css" rel="stylesheet" />
		<link href="/dist/css/tabler-flags.min.css" rel="stylesheet" />
		<link href="/dist/css/tabler-payments.min.css" rel="stylesheet" />
		<link href="/dist/css/tabler-vendors.min.css" rel="stylesheet" />
		<link href="/dist/css/demo.min.css" rel="stylesheet" />
	</head>
	<body class="antialiased border-top-wide border-primary d-flex flex-column">
		<%-body%>
		<!-- Libs JS -->
		<!-- Tabler Core -->
		<script src="./dist/js/tabler.min.js"></script>
	</body>
</html>
